/* targets header and influences inner elements */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 23em;
  width: 100vw;
  background-color: #e87ee8;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  background-size: auto;
}

/* targets user name text */
#user-full-name {
  color: white;
  font-family: "Bungee", sans-serif;
}

/* targets user profile picture */
div > img {
  align-self: end;
}
