header {
  background-color: #e87ee8;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 620px;
}
