nav {
  display: flex;
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
i {
  color: red;
  align-self: center;
  margin-top: -1em;
}
nav > span {
  font-family: "Bungee", sans-serif;
  margin: 0 1.5em;
}
#header-right {
  display: flex;
  flex-direction: column;
  margin: 0 1.5em;
}
