/* navigation bar; fixed position and serves as flex container */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100vw;
  color: #ffffff;
  background-color: #4056a1;
  position: fixed;
}

/* targets icon from fontawesome site */
i.fa-solid.fa-angles-down {
  align-self: center;
  margin-top: -1em;
  color: red;
}

/* Logo text */
nav > span {
  margin: 0 1.5em;
  font-family: "Bungee", sans-serif;
}

/* text display in upper right corner of page */
#header-right {
  display: flex;
  flex-direction: column;
  margin: 0 1.5em;
}
