
/* div for character counter and button; grouped together for placement purposes */
#buttonCounter {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  color: #ffffff;
}

/* chirp button */
#chirper {
  background-color: #4056a1;
  border-radius: 10%;
  color: #ffffff;
}

/* new tweet form element */
#tweet-form {
  display: flex;
  flex-direction: column;
}

/* textarea placement */
#tweet-text {
  align-self: center;
  height: 2em;
  width: 100%;
  border-color: transparent;
  border-bottom: solid #000000;
  margin-bottom: 1em;
  margin-top: 1em;
  background: transparent;
  resize: none;
  overflow: none;
  font-family: "Bungee", sans-serif;
}

#tweet-text:focus {
  background-color: coral;
}

/* moves entire tweet container */
.new-tweet {
  margin-bottom: 2em;
}

/* for character counter */
.negative {
  color: red;
}

/* div content above textarea */
.input-upper {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

/* for error msg container */
.error {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: red;
  border-radius: 1em;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  color:aliceblue;
  max-width: 20em;
}


/* for and success msg icons */
.fa-solid.fa-triangle-exclamation {
  color: yellow;
  margin-right: 1em;
}

.fa-solid.fa-circle-check {
  color: rgb(43, 255, 0);
  margin-right: 1em;
}
