
/* div for character counter and button; grouped together for placement purposes */
#buttonCounter {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  color: #ffffff;
}

/* chirp button */
#chirper {
  background-color: #4056a1;
  border-radius: 10%;
  color: #ffffff;
}

/* new tweet form element */
#tweet-form {
  display: flex;
  flex-direction: column;
}

/* prompt text placement */
#tweet-text {
  align-self: center;
  height: 1.5em;
  width: 100%;
  border-color: transparent;
  border-bottom: solid #000000;
  margin-bottom: 1em;
  margin-top: 1em;
  background: transparent;
  resize: none;
  overflow: none;
}

/* moves entire tweet container */
.new-tweet {
  margin-bottom: 2em;
}

/* for character counter */
.negative {
  color: red;
}
