/* breakpoint beyond max width causes overflow to tweet body */
@media only screen and (min-width : 320px) and (max-width : 629px){
  /* font size adjusted to fit */
  html {
    font-size: 8px;
  }
  /* nav bar */
  nav {
    max-height: 2em;
    background-color: #4056a1;
  }
  #header-right, nav > span {
    background: transparent;
  }
  /* arrow icon removed from nav section */
  i.fa-solid.fa-angles-down {
    display : none;
  }
  /* header/profile section */
  /* resize fixed img size icon  and move contents to right side*/
  .profile {
    max-height: 9em;
    flex-direction: row;
  }
  .profile > div {
    display: flex;
    align-self: end;
    justify-content: end;
  }
  div > h2 {
    max-width: 5em;
    overflow-wrap: normal;
    margin-right: 1em;
  }
  div > img {
    max-width:30%;
    height:auto;
    margin-bottom: 0.3em;
  }


  /* reconfigures layout of tweet container */
  .tweet{
    flex-direction: row;
  }
  .tweet-header, .tweet-footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
  }
  .right-items {
    margin-right: 0em;
  }
  .tweet-body {
    border-color: transparent;
  }
  /* resizes icon proportionally */
  img.left-items {
    max-width:40px;
    min-width: 40px;
    height:auto;
  }

  span.right-items {
    padding-bottom: auto;
    margin-left: 1em;
  }
  span.left-items {
    font-size: 0.8em;
    margin-right: 1em;
  }

  .smaller-font{
    font-size: 0.8em;
  }
}

/* hypothetical declaration as page was initially developed for desktop hence this is the base case for most css */
/* @media only screen and (min-width : 629px) and (max-width: 1442px){} */

/* only tested up to 4k px width; breakpoint causes overflow to tweet body*/
@media only screen and (min-width : 1442px){
  
  /* change nav on resize */
  nav{
    background-color: #4056a1;
  }
  #header-right, nav > span {
    background: transparent;
  }

  /* this is contaniner of profile pic and tweets container */
  .main-page-body{
    flex-direction: row;
  }

  /* profile pic size adjustment */
  .profile{
    max-width: 20vw;
  }

  /* new tweet input section adjustment since nav bar is on top in new display*/
  .new-tweet{
    margin-top: 5.5em;
  }


  /* full 140 character tweets can display at full size at this point */
  .smaller-font{
    font-size: 1em;
  }
}
