@media only screen and (min-width : 300px) and (max-width : 767px){
  /* font size adjusted to fit */
  html {
    font-size: 8px;
  }
  /* nav bar */
  nav {
    max-height: 2em;
  }
  /* arrow icon removed from nav section */
  i.fa-solid.fa-angles-down {
    display : none;
  }
  /* header/profile section */
  /* resize fixed img size icon  and move contents to right side*/
  .profile {
    max-height: 9em;
    flex-direction: row;
  }
  .profile > div {
    display: flex;
    align-self: end;
    justify-content: end;
  }
  div > h2 {
    max-width: 5em;
    overflow-wrap: normal;
    margin-right: 1em;
  }
  div > img {
    max-width:30%;
    height:auto;
    margin-bottom: 0.3em;
  }
  /* tweet-history section (resizes icon) */
  .tweet-header img {
    max-width:10%;
    height:auto;
    margin-top: 0.5em;
  }
}

/* hypothetical declaration as page was initially developed for desktop hence this is the base case for most css */
/* @media only screen and (min-width : 768px) and (max-width: 1024px){} */

/* only tested up to 4k px width */
@media only screen and (min-width : 1200px){
  
  /* change nav on resize */
  nav{
    background-color: #4056a1;
  }
  #header-right, nav > span {
    background: transparent;
  }

  /* this is contaniner of profile pic and tweets container */
  .main-page-body{
    flex-direction: row;
  }

  /* profile pic size adjustment */
  .profile{
    max-width: 20vw;
  }

  /* new tweet input section adjustment since nav bar is on top in new display*/
  .new-tweet{
    margin-top: 5.5em;
  }


  /* full 140 character tweets can display at full size at this point */
  .smaller-font{
    font-size: 1em;
  }
}

max width heigh 
